<!--24.02.2021 wed section 43-->

<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-6 ofset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.message%></h4>
            <p><%= err.stack %></p>
          </div>
    </div>
</div>