<!DOCTYPE html>
<html lang="en">
<head><!--11.02.2021 thu-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <!--this is for demo purposes-->
    <h1>Home! YELP CAMP!</h1>
</body>
</html>